body {
    font-family: sans-serif;
    width: 1000px;
	background-color: green;
}

.all {
	margin: 20px;
	padding: 20px;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(255,170,73);
	border-radius: 20px;
}

.top {
    width:1000px;
	background-color: yellow;
}

.links {
    width:300px;
    float:left;
	background-color: blue;
}
.main {
    width:700px;
    float:right;
	background-color: purple;
	
}

