body {
    font-family: sans-serif;
    width: 1100px;
	background-color: green;
}

.all {
	margin: 20px;
	padding: 20px;
}

.top {
	background-color: yellow;
}

.top.home {
    width:500px;
	background-color: yellow;
}

.links {
    width:500px;
    float:right;
	background-color: blue;
}

.main {
    width:700px;
    float:left;
	background-color: purple;
}

/*This section creates the borders around the whole page*/
#top, #bottom, #left, #right {
	background: rgb(255,170,73);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
