body {
    font-family: sans-serif;
    width: 1100px;
	background-color: green;
}

.all {
	margin: 20px;
	padding: 20px;
}

.top {
	background-color: pink;
}

.home {
    width:200px;
	background-color: yellow;
	float:left
}

.links {
    width:800px;
    float:right;
	background-color: blue;
}

/*ul, li, li a, and li a:hover are all making the links in the top menu*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: teal;
}
li {
	float:left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
}
li a:hover {
	background-color: #111111;
}

/*Main is the main body of the page, not in a heading bar*/
.main {
    width:700px;
    float:left;
	background-color: purple;
}

/*This section creates the borders around the whole page*/
#top, #bottom, #left, #right {
	background: rgb(255,170,73);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
