<!doctype html>
<html>
<head>
<title>Cookbook</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="all">
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<div class="top">
<div class="home">
<h1>Cookbook</h1>
</div>
<div class="links">
<ul>
	<li><a href="{{url_for('home')}}">home</a></li>
	<li><a href="{{url_for('view_recipe')}}">view recipe</a></li>
	<li><form action="/search">
		Search Recipes: 
		<input type="text" name="searchrecipes" value="">
		<input type="submit" value="Submit"
		</form></li>
</ul>
</div>
</div>
<div class="main">
{% block body %}{% endblock %}
</div>
</div>
</body>
</html>

